streamlit

pymongo
python-dotenv

google-generativeai

easyocr
opencv-python-headless
pytesseract
PyMuPDF
Pillow

numpy
pandas

boto3

cryptography

requests

python-multipart

GitPython

watchdog

uvicorn
starlette

protobuf

pyarrow

altair
pydeck
certifi
opencv-python-headless
pytesseract
PyMuPDF
Pillow
